*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  overflow-x:hidden;
   
  
}
:root{
--core-color:#60d1d4;

}
html{
  scroll-behavior: smooth;
}





body{
  font-family: "Merriweather", serif;
  padding:0;
  color:#40514e;
 
}

h2{
  color:#89A8B2;
  
}
h3{
  overflow-y: hidden;
}
ul{
  padding-left:0;
}
.navbar{
 width:100%; 
position:fixed;
  z-index: 1000;
 padding: 1rem;
background-color: #89A8B2;
 
}

.navbar-brand{
  color:#E5E1DA;
}
.navbar-brand:hover{
  color: white;
}

#navbar ul li{
 list-style:none;
 margin:0 30px;
 font-size: 20px;
}
#navbar ul li a{
  text-decoration:none;
  color:#E5E1DA;
  font-weight:lighter;
}
#navbar ul li a:hover{
  color:white;
}

.collapse{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

main{
  position:relative;
  margin-top:;
  padding:20px 20px;
  background-color: #F1F0E8;
  //**background-image: url("BackgroundImage.jpg");
  background-repeat: no-repeat;*/
  

  /*transform:scaleX(-1)*/
  
}
.gradient-background {
  background: linear-gradient(300deg, #89A8B2, #E5E1DA, #F1F0E8);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
}

.welcome-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  padding-top:50px;
  height: 100vh;
  position:relative;
  
  color:black;
  overflow-y:hidden;
 


}
.introduction{
display:flex;
flex-direction:column;
justify-content:top;
padding-top:20px;
margin-top:50px;
overflow-y:hidden;
position:relative;


}
.introduction img{
  width:300px;
 margin-bottom:-100px;
 padding-left:20%;
  z-index:1;
  align-items: center;
  animation:2s ease infinite imgRotator;
  overflow-y:hidden;
  
}

.introduction h1 {
  text-align:center;
  font-size:70px;
  overflow-y:hidden;
  
}
.projects h2 {
  text-align:center;
  font-size:70px;
  overflow-y:hidden;
}
.introduction h2{
  text-align:center;
  font-size:50px;
  font-style:;
  overflow-y:hidden;
}

.introduction h3{
  margin:30px 120px;
  font-size:25px;
  font-style:;
  font-weight: lighter;
  color:black;
  overflow-y:hidden;
}


.portfolio{
  display:flex;
  flex-direction:row;
  justify-content:center;
  overflow-y:hidden;
  position:relative;
  margin-top:80px;
}
.portfolio img{

width: 250px;
height:250px;



}
.Aboutme{
  background-color: whitesmoke;
}


.projects{
background-color: #F1F0E8;

}

.contactme{
  background-color: whitesmoke;
}
.contactme h2{
  font-family: "Montserrat", sans-serif;
}
.contact-message{
  width:40%;
 text-align: center;
 margin:auto;
}

.btn{
  background-color: #89A8B2;
  color:whitesmoke;
}
.footer{
  background-color: #F1F0E8;
}

/*animations*/
@keyframes imgRotator{
10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(40deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(40deg);
  }
  
   
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




/*Query*/
/* For mobile devices */
@media (max-width: 768px) {
  #navbar ul {
        flex-direction: column;
    }

    #navbar ul li {
        margin: 10px 20px;
    }

    .project {
        padding: 15px;
    }

    ul li {
        display: block;
        margin-bottom: 10px;
    }
    .introduction h3{
      margin:10px 0px;
      
    
}
.introduction img{
 
  padding-left:0%;
  width:150px;
  position:relative;
  margin-bottom:-100px;
  left:100px;
  bottom:30px;
}
.welcome-section{
  display: block;
  
  
  
 
}
.portfolio{
  margin-top:25px;
  margin-left:20px;
  position:relative;
  top:-50px;
  
}
.portfolio img{

  width:250px;
  height:250px;
  
  
  
  }
.introduction h2{
  font-size:30px;
}
.collapse{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}
}